<!-- Please include this file once filled out in the res/values/ and name it anything.xml
     Example: res/values/hidden_strings.xml
 -->
    <resources>
        <string name="ad_unit_id">GOOGLE_MOBILE_AD_UNIT_ID</string>
        <string name="admob_interstitial_key">GOOGLE_ADMOB_INTERSTITAL_KEY</string>
    </resources>
