<!-- Please include this file once filled out in the res/values/ and name it anything.xml
     Example: res/values/hidden_strings.xml
 -->
    <resources>
        <string name="admob_id">ADMOB KEY</string>
        <string name="bugsence_api_key">BUGSENCE KEY</string>
    </resources>
